@import url('https://fonts.googleapis.com/css?family=Marmelad|Montserrat:400,500&display=swap&subset=cyrillic');

html {
	font-size: 15px;
}

body {
	font-family: 'Marmelad', sans-serif;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.styled-toast {
	background-color: #DAD2D8 !important;
	color: #000 !important;
}