.collection.with-header .collection-header {
	position: relative;
}

.button-add-note-state {
	position: absolute !important;
	top: 50%;
	right: 0;
	display: flex !important;
	justify-content: flex-end;
	opacity: 0;
	transform: translateX(4rem) translateY(-50%);
	transition: opacity 0.3s ease-in, transform 0.5s ease-in-out, top 0.3s ease-in-out !important;
}

.collection.with-header .collection-header:hover .button-add-note-state {
	opacity: 1;
	transform: translateX(-2rem) translateY(-50%);
}

.add-note-buttons-wrap {
  text-align: right;
  margin-top: 1rem;	
}

.add-note-buttons-wrap > a:not(:last-of-type) {
	margin-right: 1rem;
}