.datepicker {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.datepicker-date-display {
	background-color: #DAD2D8 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
	color: #284B63 !important;
}

.datepicker-table-wrapper .datepicker-table .datepicker-day-button {
	color: #000;
}

.datepicker-table-wrapper .datepicker-table td.is-today {
	color: #EAC8CA;
}

.datepicker-table-wrapper .datepicker-table td.is-selected {
	background-color: #EAC8CA;
}

.button-open-calendar {
	font-size: 3rem !important;
	cursor: pointer;
}

.datepicker-row td {
	position: relative;
}

.datepicker-row td.has-event::before {
	content: '';
	position: absolute;
	top: 2px;
	right: 2px;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #1fab89;
}