.collection .collection-item {
	position: relative;
}

.collection .collection-item > span,
.collection .collection-item .materialize-textarea {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.collection .collection-item > span.blurred,
.collection .collection-item .materialize-textarea.blurred {
  opacity: 0.5;
}

.collection-item-buttons-wrap {
	position: absolute;
  top: 100%;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transform: translateY(0);
  transition: opacity 0.3s ease-in, transform 0.5s ease-in-out, top 0.3s ease-in-out;
}

.collection .collection-item:hover > .collection-item-buttons-wrap {
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
}

.collection-item-buttons-wrap > a:not(:last-of-type) {
	margin-right: 1rem;
}

.btn-floating {
  width: 30px !important;
  height: 30px !important;
}

.btn-floating i {
  font-size: 1.2rem !important;
  line-height: 30px !important; 
}

.input-field {
  margin: 0 !important;
}

.materialize-textarea {
  margin: 0 !important;
}