.preloader-wrapper-outer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.preloader-wrapper.big {
	width: 32px !important;
	height: 32px !important;	
}